name: "Semantic PR"

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

jobs:
  main:
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v6.1.1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          types: |
            feat
            fix
            perf
            refactor
            style
            docs
            test
            build
            ci
            chore
          requireScope: false
          subjectPattern: ^(?![A-Z]).+$ # Don't start with an uppercase character.
          subjectPatternError: |
            The subject "{subject}" should not start with an uppercase character.
          headerPattern: '^(\w*)(?:\(([\w$.\-*/ ]*)\))?!?: (.*)$'
          headerPatternCorrespondence: type, scope, subject
